*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Midsection */
.con{
  border: 5px solid aqua;
  height: 580px;
  width: 450px;
  justify-content: center;
  display: flex;
  flex-wrap:wrap;
}
.img{
  width: 660px;
  height:600px;
}
.par{
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: center;
}
p{
  font-weight:1px;
  font-size: medium;
  font-family: Impact;
  justify-content: center;
}
/* seperation box display*/
.head{
  border: 2px solid red;
  height: 50px;
  width: 1535px;
}
.body{
  display: flex;
  justify-content: space-between;
}
.body>img{
  display: flex;
  flex-wrap: wrap;
}
.foot{
  border: 2px solid red;
  height: 100px;
  width: 1535px;
}