* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.para {
  color: blue;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px;
}
.navi{
  display: flex;
  justify-content: space-around;
}