*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Midsection */
.con{
  border: 5px solid aqua;
  height: 580px;
  width: 450px;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}
.par{
  display: flex;
  border: 5px solid aqua;
  height: 580px;
  width: 450px;
  flex-wrap: nowrap;
  justify-content: center;
}
.in1{
  font-weight:1px;
  font-size: medium;
  font-family: Impact;
  justify-content: center;
}
/* seperation box display*/
.head{
  border: 2px solid red;
  height: 50px;
  width: 1535px;
  position:relative
}
.body{
  border: 2px solid red;
  height: 580px;
  width: 1535px;
  justify-items: auto;
}
.foot{
  border: 2px solid red;
  height: 100px;
  width: 1535px;
}